@charset "utf-8";
* {
	box-sizing: border-box;
}
.df, .jcce, .jcsb, .jcfs, .jcfe, .aice {
	display: flex;
}
.jcce {
	justify-content: center; 
}
.jcsb {
	justify-content: space-between;
}
.aice {
	align-items: center;
}
a {
	text-decoration: none;
	color: inherit;
	margin: 0;
}
input {
	padding: 0;
	padding-left: 10px;
}
ul {
	list-style: none;
	padding: 0;
}
.hidden {
	display: none;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;	
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
}
.modal{
	width: 800px;
    height: 430px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	background-color: white;
	border-radius: 5px;
}
.couponList_title {
	height: 50px;
	font-weight: 700;
	margin-left: 20px;
}
.couponItemList_component {
	min-width: 900px;
    height: 380px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    overflow-y: scroll;
}
.couponItemList_item_info {
	height: 50px;
	border-bottom: 1px solid black;
	font-size: 14px;
}
.couponItemList_item_img {
	width: 80px;
}
.couponItemList_item_name {
	width: 250px;
	flex-flow: column;
}
.couponItemList_coupon_name_box {
	color: brown;
}
.couponItemList_item_price {
	width: 330px;
}
.couponItemList_item_select_button_box {
	width: 120px;
}
.couponItemList_item_salePrice {
	width: 120px;
}
.couponItemList_item_select_button {
	padding: 5px;
	background-color: #333;
	color: white;
	font-size:12px;
	border-radius: 5px;
	cursor: pointer;
}
.couponItemList_item_box {
	font-size: 12px;
}
.couponList_select_button {
    width: 100px;
    height: 40px;
    background-color: #333;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
}

/* ===============쿠폰 모달=============== */
.couponList_coupon_item_component {
	height: 325px;
	overflow-y: scroll; 
}

.couponList_coupon_info {
	height: 50px;
	border-bottom: 1px solid black;
	background-color: #333;
	color: white;
	font-size: 14px;
}
.couponList_coupon_info > div {
	height: 100%;
}
.couponList_coupon_item {
	font-size: 12px;
	border-bottom: 1px solid black;
	height: 50px;
}
.couponList_coupon_item > div {
	height: 100%;
}
.couponList_coupon_name {
	width: 342px;
}
.couponList_coupon_count {
	width: 130px;
}
.couponList_coupon_date {
	width: 130px;
}
.couponList_coupon_sale { 
	width: 80px;
}
.couponList_coupon_apply {
	width: 100px;
}
.couponList_apply_button {
	font-size: 12px;
	background-color: #333;
	color: white;
	border-radius: 5px;
	padding: 8px;
	cursor: pointer;
}
.couponList_modal_cancle_button {
	width: 90px;
    height: 35px;
	font-size: 12px;
	background-color: #333;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px auto;
}
.useCoupon_button {
	background-color: darkgrey;
	cursor: default;
}