@charset "utf-8";

.payment_component {
	width: 1350px;
	height: auto;
	margin: 0 auto;
	padding-top: 50px;
}
.payment_title {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 50px;
}
.payment_delivery_title, .payment_orderList_title, .payment_discount_title, .payment_orderPrice_title, .payment_paymentWay_title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
	margin-top: 100px;
}
.payment_delivery_box {
	border: 1px solid black;
}
.payment_delivery_box > div {
	height: 60px;
	border-bottom: 1px solid #dadada;
}
.payment_delivery_box > div:last-child {
	border-bottom: none;
}
.payment_delivery_info {
	width: 200px;
	padding-left: 15px;
	font-weight: 700;
	font-size: 14px;
}
.payment_delivery_msg {
	height: 30px;
	padding-left: 5px;
}

/* ============================================== */


.payment_orderList_box {
	border: 1px solid black;
}
.payment_orderList_info {
	height: 50px;
	background-color: #333;
	color: white;
}
.payment_orderList_info > div {
	border-right: 1px solid #dadada;
}
.payment_orderList_info > div:last-child {
	border-right: none;
}
.payment_orderList_img {
	width: 100px;
}
.payment_orderList_name {
	width: 648px;
	flex-flow: column;
}
.payment_orderList_count {
	width: 100px;
}
.payment_orderList_point {
	width: 100px;
}
.payment_orderList_sale {
	width: 200px;
}
.payment_orderList_price {
	width: 200px;
	flex-flow: column;
}
.payment_orderList_item {
	padding-top: 10px;
	padding-bottom: 10px;
}
.payment_orderList_original_price {
	text-decoration: line-through;
	color: darkgrey;
}

/* ============================================ */

.payment_orderPrice_box {
	height: 100px;
	border: 1px solid black;
}
.payment_orderPrice_info {
	height: 40px;
	border-bottom: 1px solid black;
	background-color: cornsilk;
}
.payment_orderPrice_price {
	height: 60px;
}
.payment_orderPrice_common {
	width: 400px;
	height: 100%;
}
.payment_orderPrice_discount {
	width: 270px;
	height: 100%;
}
.payment_orderPrice_total {
	width: 680px;
	height: 100%;
}

/* ================================================ */


.payment_discount_box {
	border: 1px solid black;
}
.payment_discount_box > div{
	height: 60px;
}
.payment_discount_info {
	width: 200px;
	padding-left: 15px;
	font-weight: 700;
	font-size: 14px;
}
.payment_coupon_button {
	background-color: #333;
	color: white;
	padding: 10px;
	font-size: 12px;
	border-radius: 5px;
	cursor: pointer;
}
.payment_discount_point_button {
	background-color: #333;
	color: white;
	padding: 10px;
	font-size: 12px;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
}
.payment_discount_point_box >input{
	height: 30px;
	width: 150px;
	margin-right: 10px;
}
.payment_discount_point_msg {
	font-size: 12px;
	color: darkgrey;
}
.payment_coupon_box {
	margin-right: 10px;
}
.payment_discount_price {
	width: 150px;
}
.payment_paymentWay_box {
	padding: 20px;
	border: 1px solid black;
}
.payment_paymentWay_deposit {
	margin-top: 20px;
	border: 1px solid black;
}
.payment_pay_button {
	padding: 10px;
	width: 100px;
	margin: 0 auto;
	background-color: #333;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 50px;
}
.payment_deposit_bank_info, .payment_deposit_number_info {
	width: 100px;
	background-color: cornsilk;
	height: 50px;
	margin-right: 10px;
	font-weight: 700;
}
.payment_deposit_bank_name, .payment_deposit_number_name {
	width: 200px;
	height: 50px;
}