@charset "utf-8";

.productDetail_component {
	width: 1350px;
	margin: 0 auto;
}
.productDetail_info {
	width: 100%;
    height: 720px;
	padding-bottom: 100px;
}
.productDetail_img_box {
	width: 800px;
}
.productDetail_info_box {
	width: 550px;
}
.productDetail_product_name {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 20px;
}
.productDetail_product_price {
	font-size: 20px;
	text-decoration: line-through;
	color: darkgrey;
	margin-right: 10px;	
}
.productDetail_product_salePrice {
	font-size: 20px;
	font-weight: 700;
}
.productDetail_product_sale {
	font-size: 18px;
}
.productDetail_product_info_box {
	width: 100%;
	border-bottom: 1px solid #dadada;
	border-top: 1px solid #dadada;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 40px;
}
.productDetail_info_dropbox {
	position: absolute;
	top: 60px;
	left: 0px;
	padding-left: 90px;
	font-size: 14px;
}
.productDetail_info_span{
	color: grey;
	width: 200px;
}
.productDetail_price_span{
	color: #333;
}

.productDetail_item_color_box {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dadada;
}
.productDetail_item_size_box {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dadada;
}
.productDetail_buyList_box {
	margin-top: 30px;
	background-color: cornsilk;
	padding: 10px;
}
.productDetail_item_color_title {
	width: 150px;
}
.productDetail_item_size_title {
	width: 150px;
}
.productDetail_buyList_color {
	margin-left: 20px;	
	font-size: 14px;
}
.productDetail_buyList_size {
	margin-left: 10px;
	font-size: 14px;
}
.productDetail_buyList_count {
	margin-left: 10px;
	font-size: 14px;
}
.productDetail_buyList_orderCount {
	margin-left: 20px;
}
.productDetail_buyList_total_info {
	padding-left: 20px;
	font-weight: 700;
}
.productDetail_buy_count {
	width: 50px;
	height: 40px;
	padding-left: 15px;
	border: none;
}
.productDetail_buy_count:focus {
	outline: none;
}
.productDetail_upDownBox {
    flex-flow: column;
    display: flex;
}
.productDetail_up_button, .productDetail_down_button {
    width: 25px;
    height: 19px;
    cursor: pointer;
}
.productDetail_buyList_salePrice {
	margin-left: 20px;
	font-size: 16px;
    font-weight: 700;
}
.productDetail_color_button > div{
	width: 50px;
	padding: 5px;
	font-size: 12px;
	background-color: #F9F9F9;
	border: 1px solid #dadada;
	margin-right: 10px;
	cursor: pointer;
}
.productDetail_size_button > div {
	width: 50px;
	padding: 5px;
	font-size: 12px;
	background-color: #F9F9F9;
	border: 1px solid #dadada;
	margin-right: 10px;
	cursor: pointer;
	color: #dadada;
}
.productDetail_button_box {
	margin-top: 25px;
}
.productDetail_buy_button {
	width: 380px;
	height: 60px;
	background-color: #333;
	color: white;
	cursor: pointer;
}
.productDetail_cart_button {
	width: 80px;
	height: 60px;
	border: 1px solid #dadada;
	cursor: pointer;
}
.productDetail_like_button {
	width: 80px;
	height: 60px;
	border: 1px solid #dadada;
	cursor: pointer;
}
.productDetail_review_box {
	width: 100%;
	border-bottom: 2px solid black;	
	border-top: 2px solid black;	
}
.productDetail_review_title {
	margin-top: 80px;
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 700;
}
.productDetail_review_short_box > div{
	margin-right: 20px;
	margin-top: 20px;
	border: 1px solid #dadada;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
}
.productDetail_review_short_high {
	background-color: #333;
	color: white;
}
.productDetail_review_item {
	padding: 20px;
	border-bottom: 2px solid #dadada;
}
.productDetail_review_reply_info {
	width: 1000px;
	border-right: 1px solid #dadada;
}
.productDetail_review_point {
	margin-top: 10px;
	font-size: 20px;
}
.productDetail_review_content {
	margin-top: 20px;
}
.productDetail_review_img {
	margin-top: 20px
}
.productDetail_review_reply {
	margin-top: 10px;
}
.productDetail_review_reply_button {
	cursor: pointer;
    width: 100px;
}
.productDetail_review_reply_dropbox {
	padding: 15px;
}
.productDetail_review_reply_item {
	padding-bottom: 10px;
	padding-top: 10px;
}
.productDetail_reply_writer {
	width: 150px;
	margin-bottom: 10px;
}
.productDetail_reply_content  {
	background-color: #dadada;
    padding: 20px;
    width: 580px;
    border-radius: 8px;
}
.productDetail_review_buyInfo {
	width: 310px;
	flex-flow: column;
}
