<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
	"-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="false" />
		<!-- 	user_name => userName	-->
	</settings>
	
	<typeAliases>
		<typeAlias type="com.pomaden.model.MemberDTO" alias="member"/>		
		<typeAlias type="com.pomaden.model.ProductDTO" alias="product"/>		
		<typeAlias type="com.pomaden.model.ItemDTO" alias="item"/>		
		<typeAlias type="com.pomaden.model.CartDTO" alias="cart"/>		
		<typeAlias type="com.pomaden.model.QuestionDTO" alias="question"/>		
		<typeAlias type="com.pomaden.model.LikeProductDTO" alias="lileProduct"/>		
		<typeAlias type="com.pomaden.model.OrderListDTO" alias="orderList"/>		
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/sqlmap-member.xml"/>
		<mapper resource="mappers/sqlmap-item.xml"/>
		<mapper resource="mappers/sqlmap-product.xml"/>
		<mapper resource="mappers/sqlmap-cart.xml"/>
		<mapper resource="mappers/sqlmap-question.xml"/>
		<mapper resource="mappers/sqlmap-likeProduct.xml"/>
		<mapper resource="mappers/sqlmap-orderList.xml"/>
	</mappers>
</configuration>