@charset "utf-8";
.admin_content {
	background-color: #dadada;
}
.admin_notice_list {
	width: 90%;
	height: 500px;
	margin: 0 auto;
	background-color: white;
}
.admin_notice_info {
	height: 40px;
	font-weight: 700;
	border-bottom: 1px solid black;
	padding-right: 17px;
}
.admin_notice_item_box {
    overflow-Y: scroll;
    height: 460px;
}
.admin_notice_item {
	border-bottom: 1px solid #dadada;
}
.admin_notice_item > div {
	height: 60px;
}
.admin_notice_admin {
	width: 120px;
}
.admin_notice_title {
	width: 300px;
}
.admin_notice_content {
	width: 300px;
}
.admin_notice_date {
	width: 150px;
}

