@charset "utf-8";
.findId_component {
	height: 400px;
	width: 600px;
	margin: 0 auto;
	padding-top: 50px;
}
.findId_title {
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 50px;
}
.findId_form {
	width: 400px;
	margin: 0 auto;
}
.findId_name_input, .findId_email_input{
	height: 50px;
	width: 400px;
	margin-bottom: 10px;
	padding-left: 10px;
	border-radius: 5px;
	border: 1px solid #dadada;
}
.findId_find_button {
	height: 50px;
	width: 400px;
	color: white;
	background-color: #333;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 10px;
}