@charset "utf-8";

.question_component {
	height: 1000px;
	width: 1350px;
	margin: 0 auto;
	padding-top: 50px;
}
.question_filter_box {
	width: 100%;
	margin-bottom: 15px;
}
.question_search_box {
	
}
.question_title {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 50px;
}
.question_info_box {
	height: 50px;
	width: 100%;
	background-color: #333;
	color: white;
}
.question_info_box > div {
	border-right: 1px solid #dadada;
}
.question_info_box > div:last-child {
	border: none;	
}
.question_info_idx, .question_item_idx {
	width: 50px;
}
.question_info_title, .question_item_title {
	width: 150px;
}
.question_info_content, .question_item_content {
	width: 920px;
}
.question_info_writer, .question_item_writer {
	width: 120px;
}
.question_info_date, .question_item_date {
	width: 120px;
}

.question_list_item {
	height: 40px;
	border-bottom: 1px solid #dadada;	
}

.question_write_button_box {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.question_write_button {
	height: 40px;
	width: 100px;
	background-color: #333;
	color: white;
	border-radius: 5px;
	margin-top: 30px;
	cursor: pointer;
}

.question_select_box {
	height: 30px;
}
.question_search_input {
	height: 30px;
	margin-left: 10px;
	margin-right: 10px;
}
.question_search_button {
	height: 30px;
	background-color: #333;
	color: white;
	width: 80px;
	border-radius: 5px;
}





/* 작성 모달 css */
.question_modal_title {
	width: 100%;
	height: 40px;
	border-bottom: 2px solid black;
	font-weight: 700;
}
.question_modal_component {
	padding: 10px;
}
.question_modal_board_title {
	height: 50px;
}
.question_modal_category {
	height: 50px;
}
.question_modal_content > textarea{
	height: 500px;
	width: 780px;
	resize: none;
}
.question_modal_button_box {
	position: absolute;
    right: 10px;
    left: 10px;
    bottom: 10px;
}
.question_modal_write_button {
	width: 48%;
	height: 40px;
	background-color: #333;
	color: white;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
}
.question_modal_cancle_button {
	width: 48%;
	height: 40px;
	font-size: 14px;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
}