@charset "utf-8";
.success_component {
	width:400px;
	padding-top: 50px;
	margin: 0 auto;
}
.success_title {
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 50px;
}
.success_orderList_info {
	font-size: 12px;
	border: 1px solid black;
}
.success_orderList_info > div{
	border-bottom: 1px solid #dadada;
}
.success_orderList_info > div:last-child{
	border-bottom: none;
}
.success_orderList_info_order_number,
.success_orderList_info_name,
.success_orderList_info_count,
.success_orderList_info_price{
	width: 100px;
	font-weight: 700;
	background-color: #333;
	color: white;
	margin-right: 10px;
	padding: 10px;
}
.success_button_box {
	width: 100%;
	margin-top: 20px;
}
.success_button_box > a {
	padding: 10px;
	font-size:12px;
	border-radius: 5px;
	cursor: pointer;
	background-color: #333;
	color: white;
}
.success_home_button {
	width: 180px;
}
.success_orderList_button {
	width: 180px;
}