@charset "utf-8";
.cartList_component {
	height: auto;
	width: 1350px;
	margin: 0 auto;
	padding-top: 50px;
}
.cartList_title {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 50px;
}
.cartList_content {
	width: 1350px;
	height: auto;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding-top: 10px;
	padding-bottom: 10px;  
	margin-bottom: 100px;
}
.cartList_sub_title{
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 700;
}
.cartList_info {
	width: 100%;
	height: 50px;
	background-color: #333;
	color: white;
}
.cartList_info > div {
	font-size: 15px;
	border-right: 1px solid #dadada;
	font-weight: 700;
}
.cartList_info > div:last-child {
	border: none;	
}
.cartList_idx, .cartList_item_idx{
    width: 80px;
}
.cartList_checkBox, .cartList_item_checkBox {
	width: 60px;
}
.cartList_img, .cartList_item_img {
	width: 110px;
}
.cartList_option, .cartList_item_option {
	width: 520px;
}
.cartList_price, .cartList_item_price {
    width: 140px;
}
.cartList_count, .cartList_item_count {
	width: 190px;
}
.cartList_totalPrice, .cartList_item_totalPrice {
	width: 140px;
}
.cartList_delete, .cartList_item_delete {
	width: 110px;
}
.cartList_item{
	height: 87px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dadada;
}
.cartList_item > div:last-child {
	border: none;
}
.cartList_item > div {
	height: 100%;
}
.cartList_item_option {
	flex-flow: column;
}
.cartList_item_option > .cartList_item_name{
	font-size: 14px;
}
.cartList_item_option > .cartList_item_color{
	font-size: 12px;
	margin-top: 5px;
}
.cartList_item_option > .cartList_item_size{
	font-size: 12px;
}
.cartList_item_name {
	font-weight: 700;
}
.cartList_buy_count {
	width: 60px;
	height: 40px;
	padding-left: 15px;
	border: none;
	background-color: #f9f9f9;
}
.cartList_buy_count:focus {
	outline: none;
}
.cartList_upDownBox {
    flex-flow: column;
    display: flex;
}
.cartList_up_button, .cartList_down_button {
    width: 25px;
    height: 19px;
    cursor: pointer;
}
.cartList_delete_button {
	width: 60px;
	height: 40px;
	background-color: #333;
	color: white;	
	border-radius: 5px;
	cursor: pointer;
	font-size: 12px;
}
.cartList_select_content {
	height: 100px;
	width: 100%;
	border: 2px solid black; 
	box-sizing: content-box;
}
.cartList_select_info_box {
	width: 100%;
	height: 40px;
}
.cartList_select_price_box {
	width: 100%;
	height: 60px;
	border-top: 1px solid black;
}
.cartList_select_info_box {
	font-weight: 700;
}
.cartList_select_total_info {
	width: 400px;
	height: 100%;
	background-color: cornsilk;
}
.cartList_select_delivery_info {
	width: 270px;
	height: 100%;
	background-color: cornsilk;
}
.cartList_select_expected_info {
	width: 680px;
	height: 100%;
	background-color: cornsilk;
}
.cartList_select_total_price {
	width: 400px;
	height: 100%;
	background-color: cornsilk;
}
.cartList_select_delivery_price {
	width: 270px;
	height: 100%;
	background-color: cornsilk;
}
.cartList_select_expected_price {
	width: 680px;
	height: 100%;
	background-color: cornsilk;
}
.cartList_payment_button {
	width: 100px;
	height: 40px;
	background-color: #333;
	color: white;
	border-radius: 5px;
	font-size: 14px;
	margin-top: 15px;
}
.cartList_payment_box {
	display: flex;
	justify-content: flex-end;
}