@charset "utf-8";

.myPage_board_title {
	width: 100%;
	height: 40px;
	font-size: 20px;
	font-weight: 700;
	padding-left: 10px;
}
.myPage_board_box {
	width: 100%;
	min-height: 500px;
	border-top: 2px solid black; 
	border-bottom: 2px solid black; 
	padding-top: 10px;
	padding-bottom: 10px;
}
.myPage_board_info {
	width: 100%;
	height: 50px;
	background-color: #333;
	color: white;
}
.myPage_board_info > div{
	font-size: 15px;
	border-right: 1px solid #dadada;
	font-weight: 700;
}
.myPage_board_info > div:last-child{
	border: none;
}
.myPage_board_item {
	height: 70px;
	border-bottom: 1px solid #dadada;
}
.myPage_board_date {
	width: 120px;
}
.myPage_board_img {
	width: 70px;
}
.myPage_board_name {
	width: 350px;
}
.myPage_board_content {
	width: 660px;
}
.myPage_board_grade {
	width: 150px;
}
