@charset "utf-8";

.myPage_coupon_title {
	width: 100%;
	height: 40px;
	font-size: 20px;
	font-weight: 700;
	padding-left: 10px;
}
.myPage_coupon_box {
	width: 100%;
	min-height: 500px;
	border-top: 2px solid black; 
	border-bottom: 2px solid black;  
	padding-top: 10px;
	padding-bottom: 10px;
}
.myPage_coupon_info {
	width: 100%;
	height: 50px;
	background-color: #333;
	color: white;
}
.myPage_coupon_info > div{
	font-size: 15px;
	border-right: 1px solid #dadada;
	font-weight: 700;
}
.myPage_coupon_info > div:last-child{
	border: none;
}
.myPage_coupon_name {
	width: 200px;
}
.myPage_coupon_benefit {
	width: 450px;
}
.myPage_coupon_condition {
	width: 350px;
}
.myPage_coupon_date {
	width: 150px;
}
.myPage_coupon_sale {
	width: 80px; 
}
.myPage_coupon_use {
	width: 120px; 
}
.myPage_coupon_item {
	height: 50px;
	border-bottom: 1px solid #dadada;
	font-size: 14px;
}
.myPage_coupon_item > div {
	height: 100%;
}