@charset "utf-8";

.myPage_like_title {
	width: 100%;
	height: 40px;
	font-size: 20px;
	font-weight: 700;
	padding-left: 10px;
}
.myPage_like_box {
	width: 100%;
	height: auto;
	border-top: 2px solid black; 
	border-bottom: 2px solid black;  
	padding-top: 20px;
	padding-bottom: 20px;
	flex-wrap: wrap;
}
.myPage_list_empty {
	margin: 0 auto;
}
.myPage_like_item {
    width: 450px;
    height: 200px;
}
.myPage_like_img {
	margin-right: 10px;
}
.myPage_like_info {
	width: 200px;
}
.myPage_like_info > div{
	justify-content: flex-start;
}
.myPage_like_name {
	font-weight: 700;
}
.myPage_like_price {
	font-size: 14px;
	margin-top: 15px;
	text-decoration: line-through;
	color: grey;
}
.myPage_like_sale {
	color: grey;
	font-size: 14px;
	margin-top: 10px;
}
.myPage_like_salePrice {
	margin-top: 10px;
}
.myPage_like_likeCount {
	font-size: 14px;
	margin-top: 25px;
}