@charset "utf-8";

.myPage_myQuestion_title {
	width: 100%;
	height: 40px;
	font-size: 20px;
	font-weight: 700;
	padding-left: 10px;
}
.myPage_myQuestion_box {
	width: 100%;
	min-height: 500px;
	border-top: 2px solid black; 
	border-bottom: 2px solid black; 
	padding-top: 10px;
	padding-bottom: 10px
}
.myPage_myQuestion_info {
	width: 100%;
	height: 50px;
	background-color: #333;
	color: white;
}
.myPage_myQuestion_info > div{
	font-size: 15px;
	border-right: 1px solid #dadada;
	font-weight: 700;
}
.myPage_myQuestion_info > div:last-child{
	border: none;
}
.myPage_myQuestion_item {
	border-top: 1px solid #dadada;
	cursor: pointer;
}
.myPage_myQuestion_item > div {
	padding-top: 10px;
	padding-bottom: 10px;
}
.myPage_myQuestion_category {
	width: 150px;
}
.myPage_myQuestion_questionTitle {
	width: 970px;
}
.myPage_myQuestion_check {
	width: 110px;
}
.myPage_myQuestion_date {
	width: 120px;
}
.myPage_myQuestion_content_box, .myPage_myQuestion_answer_box {
	height: 60px;
}
.myPage_myQuestion_content_title {
	width: 150px;
	height: 100%;
	background-color: cornsilk;
	margin-right: 20px;
	border-bottom: 1px solid #dadada;
}
.myPage_myQuestion_answer_title {
	width: 150px;
	height: 100%;
	background-color: cornsilk;
	margin-right: 20px;
}