@charset "utf-8";

.myPage_orderList_title {
	width: 100%;
	height: 40px;
	font-size: 20px;
	font-weight: 700;
	padding-left: 10px;
}
.myPage_point_box {
	width: 100%;
	height: 500px;
	border-top: 2px solid black; 
	border-bottom: 2px solid black;  
}
.myPage_point_info {
	width: 100%;
	height: 50px;
	background-color: #333;
	color: white;
}
.myPage_point_info > div{
	font-size: 15px;
	border-right: 1px solid #dadada;
	font-weight: 700;
}
.myPage_point_info > div:last-child{
	border: none;
}
.myPage_point_date {
	width: 120px;
}
.myPage_point_use {
	width: 1080px;
}
.myPage_point_price {
	width: 150px;
}